/*
    common.scss
    Defines common variables.
*/

// Colours
$bg:            #f0f2f4;
$headline:      #19111d;
$text:          #2b232f;
$urgent:        #ff3333;
$success:       #21eb17;
$sunrise-red:   #ff0541;
$sunrise-orange:#ff5005;
$sidebar-light: #171d29;
$sidebar-dark:  #0b111d;
$bg-raised:     #ffffff;
$bg-inset:      darken($bg, 8%);
$checkbox:      #cccccc;
$outline-color: rgba(0, 0, 0, 0.2);
$outline-hover: rgba(0, 0, 0, 0.4);
$blackout:      rgba(0, 0, 0, 0.5);
$dialog-bg:     $bg;

@font-face {
    font-family: SourceSansPro;
    src: url('../../fonts/SourceSansPro-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: SourceSansPro;
    src: url('../../fonts/SourceSansPro-SemiBold.ttf');
    font-weight: 600;
}

// Fonts
$font: SourceSansPro, 'sans-serif';

// Shapes
$border-radius: 4px;
$sidebar-size:  58px;

// Indicators
$accent:        #208eff;
$size-quick:    #0de46c;
$size-long:     #ff9b1d;
$size-marathon: #ff3226;