/*
    common.scss
    Defines common variables.
*/

// Colours
$bg:            #f2f2f2;
$headline:      #19111d;
$text:          #2b232f;
$urgent:        #ff3333;
$sunrise-red:   #ff0541;
$sunrise-orange:#ff5005;
$sidebar-light: #171d29;
$sidebar-dark:  #0b111d;
$bg-raised:     #ffffff;
$bg-inset:      darken($bg, 25%);
$checkbox:      #cccccc;
$outline-color: rgba(0, 0, 0, 0.2);
$blackout:      rgba(0, 0, 0, 0.5);
$dialog-bg:     #f2f2f2;

// Fonts
$font: 'Source Sans Pro', 'sans-serif';

// Shapes
$border-radius: 4px;
$sidebar-size:  64px;