@import 'common';

$dialog-width: 500px;
$dialog-height: 380px;

#new-task-dialog {
    position: relative;
    width: $dialog-width;
    height: $dialog-height;
    margin-left: ($sidebar-size - $dialog-width) / 2;
    margin-top: -($dialog-height / 2);
}

#project-details-form {
    width: 100%;
    
    #project-details-table {
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        table-layout: fixed;
        height: 100%;

        tr {
            width: 100%;

            td {
                padding: 12px;
                
                &:first-child {
                    width: 25%;
                    text-align: right;
                }

                &:last-child {
                    width: 75%;
                }
            }
        }

        input[type=text] {
            width: 90%;
            flex: 1;
        }
    }

    button {
        &.constructive {
            position: absolute;
            right: 0;
            bottom: 0;

            margin-right: 12px;
            margin-bottom: 12px;
        }
    }
}
