@import 'common';

.task-box {
    background-color: $bg-raised;
    width: 90%;
    padding: 12px;
    border-radius: $border-radius;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    transition: 100ms ease-in;

    &:hover {
        box-shadow: 0 5px 10px transparentize($outline-color, 0.15);
    }

    table {
        width: 100%;
    }

    .task-desc-col {
        width: 99%;

        .task-description {
            padding-left: 12px;
        }
    }

    .task-checkbox-col {
        width: 24px;
        white-space: nowrap;
    }

    .task-date-col {
        text-align: center;
        white-space: nowrap;

        .task-date-container {
            display: inline-block;
            background-color: #f0f0f0;
            padding-top: 6px;
            padding-bottom: 6px;
            padding-left: 12px;
            padding-right: 12px;
            border-radius: 35px;
            width: 96px;

            font-size: 0.95em;
            white-space: nowrap;
        }
    }

    &[data-completed=true] {
        .task-description {
            text-decoration: line-through;
        }

        .subtask-container {
            .task-description {
                text-decoration: none;
            }
        }
    }

    .task-size-col {
        white-space: nowrap;
        .task-size-container {
            width: 64px;

            div {
                width: 10px;
                height: 10px;
                border-radius: 25px;
                background-color: transparentize($outline-color, 0.1);
                display: inline-block;
                margin-left: 4px;
            }

            &[data-size="quick"] {
                .size-circle-left {
                    background-color: $size-quick;
                }
            }

            &[data-size="long"] {
                .size-circle-left, .size-circle-middle {
                    background-color: $size-long;
                }
            }

            &[data-size="marathon"] {
                div {
                    background-color: $size-marathon;
                }
            }
        }
    }

    .subtask-container {

        width: 90%;
        margin-left: 24px;
        display: none;

        .subtask-add-button {
            width: 24px;
            height: 24px;
            border-radius: 32px;
            background-image: url('../../icons/new-small.png');
            background-size: 12px;
            background-position: center;
            background-repeat: no-repeat;

            transition: 100ms ease-in;

            &:hover {
                background-color: transparentize($outline-color, 0.05);
            }
        }

        .task-input input {
            font-size: 0.9em;
            color: transparentize($text, 0.1);
            box-shadow: none;
            border: none;
            width: 80%;

            &::placeholder {
                font-style: italic;
            }
        }

        .subtask-add-col {
            width: 20px;
        }

        .subtask-box[data-completed=true] {
            .checkbox-container {
                @extend .checkbox-container, .checked;
                @extend .checkbox-container, :active;
            }

            .task-description {
                text-decoration: line-through;
            }
        }
    }
}