@use '../colors';

$dot-size: 10px;
$date-height: 24px;
$tickbox-height: 16px;

.taskbox {
  transition: 150ms ease-in-out;
  background-color: colors.$bg-raised;
  display: grid;
  grid-template-columns: auto 32px;
  border-radius: 4px;
  user-select: none;
  margin-top: 16px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  
  .main-row {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    column-gap: 12px;
    padding: 12px;
    grid-template-columns: ($tickbox-height + 4) auto (18px * 3) 100px;
  }
  
  &:hover {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  }
  
  .tickbox {
    $border-size: 2px;
    
    width: $tickbox-height;
    height: $tickbox-height;
    border-radius: 35px;
    border: solid $border-size colors.$bg-inset;
    position: relative;
    top: 50%;
    margin-top: -(($tickbox-height / 2) + $border-size);
    
    &.selected {
      background-image: url("../icons/tick.png");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  
  .task-desc {
    line-height: $date-height;
  }
  
  .task-size {
    display: grid;
    grid-template-columns: 18px 18px 18px;
    vertical-align: middle;
    
    .dot {
      height: $dot-size;
      width: $dot-size;
      border-radius: 100%;
      background-color: lighten(colors.$bg-inset, 10%);
      
      margin-left: auto;
      margin-right: auto;
      
      position: relative;
      top: 50%;
      margin-top: -($dot-size/2);
    }
    
    &[data-size="0"] .dot:first-child {
      background-color: colors.$robin-blue;
    }
    
    &[data-size="1"] {
      .dot:first-child,
      .dot:nth-child(2) {
        background-color: colors.$robin-blue;
      }
    }
    
    &[data-size="2"] {
      .dot:first-child,
      .dot:nth-child(2),
      .dot:nth-child(3) {
        background-color: colors.$robin-blue;
      }
    }
  }
  
  .task-due {
    background-color: lighten(colors.$bg-inset, 10%);
    width: 100%;
    height: $date-height;
    border-radius: $date-height;
  }
  
  .task-schedule {
    height: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    &:hover {
      cursor: pointer;
    }
  }
  
  .arrow-container {
    margin: auto;
    position: relative;
    top: 50%;
    margin-top: -($date-height / 2);

    .right-arrow {
      border: solid colors.$bg-inset;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(-45deg);
      
      &:not(:first-child) {
        margin-left: -4px;
      }
    }
  }
  
  .subtask-box {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    
    .subtask-row {
      grid-template-columns: auto 32px;
      display: grid;
      
      .subtask-item {
        display: grid;
        grid-template-columns: 12px ($tickbox-height  + 4) auto;
        column-gap: 12px;
        padding-bottom: 12px;
        
        .tickbox {
          grid-column-start: 2;
          grid-column-end: 3;
        }
        
        .task-desc {
          grid-column-start: 3;
          grid-column-end: 4;
        }
      }
    }
    
    .add-subtask-row {
      display: grid;
      grid-template-columns: 12px ($tickbox-height + 4) auto;
      column-gap: 12px;
      margin-bottom: 12px;
      
      .add-button {
        transition: 150ms ease-in-out;
        background-image: url("../icons/new-small.png");
        background-position: center center;
        background-repeat: no-repeat;
        width: $tickbox-height + 4;
        height: $tickbox-height + 4;
        margin-left: auto;
        margin-right: auto;
        grid-column-start: 2;
        grid-column-end: 3;
        position: relative;
        top: 50%;
        border-radius: 100%;
        margin-top: -12px;
        
        &:hover {
          cursor: pointer;
          background-color: transparentize(colors.$bg-inset, 0.5);
        }
      }
      
      .subtask-name input[type="text"] {
        width: 90%;
        border: none;
        padding-top: 6px;
        padding-bottom: 6px;
        transition: 150ms ease-in-out;
        
        &:focus {
          outline: none;
          box-shadow: 0 1px 0 colors.$bg-inset;
        }
      }
    }
  }
}