@use 'widgets/misc';
@use 'widgets/taskbox';
@use 'colors';
@use 'sidebar';

$font: "Fira Sans";

*:focus {
  outline-style: dashed;
  outline-color: rgba(0, 0, 0, 0.3);
  outline-offset: -4px;
  outline-width: thin;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background-color: colors.$bg;
  font-family: $font, "sans-serif";
  color: colors.$text;
  position: absolute;
  top: 0;
  left: 0;
}

h1 {
  font-weight: normal;
}

#content-view {
  margin-left: sidebar.$sidebar-size;
  padding-left: 5%;
  padding-right: 5%;
}
